.Display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #ff0000;
    height: 120px;
    margin: 40px 20px 20px 20px;
    border: 2px solid #33ff00;
    border-radius: 15px;
    padding: 15px;
    font-size: 60px;
}