@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html {
    box-sizing: border-box;
    background-color: #000;
    font-family: 'Ubuntu Mono', monospace;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.App {
    position: absolute;
    border: 2px solid #cc00ff;
    height: 700px;
    width: 480px;
    top: 15px;
    left: 530px;
    border-radius: 15px;
}

.buttonContainer {
    border: 2px solid #ffff00;
    margin: 20px;
    height: 480px;
    border-radius: 15px;
    padding: 40px 30px 30px;
}

.buttonRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}